:root {
	--background-image: url('https://emobilitaet.online/templates/emobilitaet.businesstemplate/images/homepage-background.png');
}

@font-face {
  font-family: 'bare';
  src: url("fonts/bare.woff") format("woff"); }

@font-face {
  font-family: 'continuum_m';
  src: url("fonts/contm-webfont.woff2") format("woff2"), url("fonts/contm-webfont.woff") format("woff"); }

@font-face {
  font-family: 'continuum_b';
  src: url("fonts/contb-webfont.woff2") format("woff2"), url("fonts/contb-webfont.woff") format("woff"); }

@font-face {
  font-family: 'continuum_l';
  src: url("fonts/contl-webfont.woff2") format("woff2"), url("fonts/contl-webfont.woff") format("woff"); }

body {
  padding: 0;
  margin: 0;
  color: #fff; }

html {
  margin: 0;
  padding: 0; }

.allwrap {
  position: relative;
  overflow-x: hidden; }

* {
  color: black; }

a {
  text-decoration: none; }

p {
  color: black;
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

h1 {
  color: #99272b;
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-transform: uppercase; }

h2 {
  color: black;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-family: 'continuum_m' ,sans-serif;
  font-size: 26px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.pfeil {
  background-image: url(../images/icons/pfeil.svg);
  background-size: 1rem;
  background-position: right;
  background-repeat: no-repeat;
  display: block; }

input {
  outline: none;
  padding: 0;
  border: none; }

.btn {
  background-color: #9a292b;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans Bold', sans-serif; }
  .btn:hover {
    background-color: #721e20;
    transition: all 0.5s ease-out; }

.logo {
  color: white;
  font-family: 'continuum_l', sans-serif; }

.main_navigation {
  width: 100%;
  height: 100%; }
  .main_navigation a {
    display: inline-grid;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }
    .main_navigation a:hover {
      color: #bfbfbf;
      transition: all 0.5s ease-out; }
  .main_navigation ul {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    column-gap: 2%; }
    .main_navigation ul li {
      max-width: max-content;
      display: grid;
      align-items: center;
      transition-duration: 0.5s;
      position: relative; }
      .main_navigation ul li:hover > ul,
      .main_navigation ul li:focus-within > ul,
      .main_navigation ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: grid;
        grid-auto-flow: row;
        row-gap: 1rem; }
      .main_navigation ul li ul {
        height: max-content;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 55px;
        transition: all 0.5s ease;
        display: none; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header .main_navigation {
    width: 0;
    height: 0; }
    header .main_navigation ul {
      z-index: 1;
      position: absolute;
      top: 50px;
      right: 0px;
      display: grid;
      grid-auto-flow: row;
      align-items: flex-end;
      justify-content: center;
      row-gap: 0;
      column-gap: 0;
      height: 300px;
      transform: translate3d(100%, 0, 0);
      transition: all 0.5s ease-out; }
      header .main_navigation ul li:hover > ul,
      header .main_navigation ul li:focus-within > ul,
      header .main_navigation ul li ul:hover {
        visibility: hidden;
        display: none; }
      header .main_navigation ul.show {
        transform: translate3d(-25%, 0, 0); }
      header .main_navigation ul a {
        font-size: 0.85rem; }
  header .menu-btn {
    position: absolute;
    z-index: 3;
    right: 50px;
    top: 40px;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    header .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #fff;
      transition: all 0.5s ease-out; }
    header .menu-btn.close {
      transform: rotate(180deg); }
      header .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      header .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      header .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); } }

@media screen and (max-width: 768px) {
  header .main_navigation ul {
    position: absolute;
    top: 55px;
    right: 0px;
    display: grid;
    grid-auto-flow: row;
    align-items: flex-end;
    justify-content: center;
    row-gap: 0;
    column-gap: 0;
    height: 250px;
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s ease-out; }
    header .main_navigation ul li:hover > ul,
    header .main_navigation ul li:focus-within > ul,
    header .main_navigation ul li ul:hover {
      visibility: hidden;
      display: none; }
    header .main_navigation ul.show {
      transform: translate3d(-25%, 0, 0); }
    header .main_navigation ul a {
      font-size: 0.8rem; }
  header .menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 40px;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    header .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #fff;
      transition: all 0.5s ease-out; }
    header .menu-btn.close {
      transform: rotate(180deg); }
      header .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      header .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      header .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); } }

@media screen and (max-width: 500px) {
  header .main_navigation .ul {
    top: 60px; }
    header .main_navigation .ul a {
      font-size: 0.75rem; } }

h1 {
  font-family: 'continuum_l', sans-serif; }

header {
  z-index: 4;
  grid-area: gridheader;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 48fr 1fr;
  grid-template-rows: 2fr 5fr 2fr; }
  header .wrapper-header {
    box-sizing: border-box;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 9fr 1fr 20fr;
    justify-items: start;
    align-items: center; }
  header .logo {
    font-size: 45px;
    color: white; }

.second_place {
  color: #9a292b; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header {
    justify-content: flex-start;
    align-items: flex-start; }
  h1 {
    font-size: 35px; } }

@media screen and (max-width: 500px) {
  header {
    align-items: flex-start;
    justify-content: space-between; }
    header .logo {
      font-size: 30px;
      padding: 1rem; } }

footer {
  min-height: 400px;
  grid-area: gridfooter;
  background-color: #091b22;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr; }
  footer a {
    color: white; }
  footer .wrapper-footer {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 8fr 76fr  8fr 8fr; }
    footer .wrapper-footer .footer-1 {
      display: grid;
      grid-template-columns: 6fr 4fr 5fr;
      grid-template-areas: 'logo explore news';
      column-gap: 8rem; }
      footer .wrapper-footer .footer-1 .logo {
        grid-area: logo;
        font-size: 40px;
        font-family: 'continuum_m', sans-serif; }
      footer .wrapper-footer .footer-1 .explore {
        grid-area: explore;
        display: grid;
        padding-top: 1rem; }
        footer .wrapper-footer .footer-1 .explore .icon {
          display: flex; }
          footer .wrapper-footer .footer-1 .explore .icon h2 {
            color: white;
            text-transform: uppercase;
            padding-left: 1rem;
            font-size: 20px; }
        footer .wrapper-footer .footer-1 .explore ul {
          padding: 0.5rem 0;
          list-style: none; }
          footer .wrapper-footer .footer-1 .explore ul li {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px; }
            footer .wrapper-footer .footer-1 .explore ul li a:hover {
              color: #cccccc;
              transition: all 0.5s ease-out; }
      footer .wrapper-footer .footer-1 .news {
        grid-area: news;
        padding-top: 1rem; }
        footer .wrapper-footer .footer-1 .news .icon {
          display: inline-grid;
          grid-auto-flow: column; }
          footer .wrapper-footer .footer-1 .news .icon img {
            float: left; }
          footer .wrapper-footer .footer-1 .news .icon p {
            color: white;
            padding: 0.2rem 1rem;
            font-weight: bold;
            font-size: 14px;
            float: left; }
        footer .wrapper-footer .footer-1 .news form input {
          width: calc(100% - (1rem + 2px));
          border: solid 1px #fff;
          color: #fff;
          padding: 0.5rem;
          font-size: 15px;
          background-color: rgba(0, 0, 0, 0); }
          footer .wrapper-footer .footer-1 .news form input ::placeholder {
            color: #fff; }
        footer .wrapper-footer .footer-1 .news form .btn {
          border: none;
          margin-top: 1rem;
          width: 100%;
          padding: 0.5rem;
          text-align: center;
          cursor: pointer;
          background-color: #9a292b;
          font-size: 15px;
          font-weight: bold; }
          footer .wrapper-footer .footer-1 .news form .btn:hover {
            background-color: #721e20; }
    footer .wrapper-footer .footer-2 {
      align-items: center;
      display: grid;
      grid-template-columns: 2fr 5fr 2fr; }
      footer .wrapper-footer .footer-2 ul {
        grid-column-start: 2;
        display: grid;
        grid-auto-flow: column; }
        footer .wrapper-footer .footer-2 ul li {
          display: inline-grid;
          text-align: center; }
          footer .wrapper-footer .footer-2 ul li a {
            color: #94c1d8; }
            footer .wrapper-footer .footer-2 ul li a:hover {
              color: #67a7c8;
              transition: all 0.5s ease-out; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  footer {
    grid-template-columns: 1fr 4fr 1fr; }
    footer .wrapper-footer .footer-1 {
      grid-template-columns: 1fr;
      grid-template-areas: 'logo logo' 'explore news';
      row-gap: 4rem; }
      footer .wrapper-footer .footer-1 .logo {
        text-align: center;
        grid-column: 1/3; }
    footer .wrapper-footer .footer-2 {
      grid-template-columns: 0fr 1fr 0fr; } }

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr 6fr 1fr; }
    footer .wrapper-footer .footer-1 {
      grid-template-columns: 1fr;
      grid-template-areas: 'logo' 'explore' 'news';
      row-gap: 4rem; }
      footer .wrapper-footer .footer-1 .logo {
        justify-self: center;
        font-size: 35px; }
      footer .wrapper-footer .footer-1 .explore {
        justify-self: center; }
      footer .wrapper-footer .footer-1 .news {
        justify-self: center; }
    footer .wrapper-footer .footer-2 {
      grid-template-columns: 2fr 5fr 2fr; }
      footer .wrapper-footer .footer-2 ul {
        grid-auto-flow: row;
        row-gap: 6px; } }

@media screen and (max-width: 500px) {
  footer .wrapper-footer .footer-1 {
    font-size: 35px; } }

.mod_emo_products {
  width: 100vw;
  min-height: 1200px;
  display: grid; }
  .mod_emo_products .end {
    height: 150px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #99262e, #000); }
  .mod_emo_products .intro {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
    min-height: 400px;
    background-image: linear-gradient(to right bottom, #99272d, #000);
    text-align: center; }
    .mod_emo_products .intro h1 {
      display: inline-grid;
      align-content: center;
      justify-content: center;
      grid-column: 2/3;
      grid-row: 1/2;
      color: white;
      margin: 20px 0;
      font-family: 'continuum_m', sans-serif; }
    .mod_emo_products .intro p {
      align-content: center;
      justify-content: center;
      grid-column: 2/3;
      grid-row: 2/3;
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px; }
    .mod_emo_products .intro img {
      align-self: center;
      justify-self: center;
      margin: 0;
      margin-bottom: 10px;
      grid-column: 2/3;
      grid-row: 3/4; }
  .mod_emo_products .products {
    min-height: 900px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 17fr 3fr 1fr; }
    .mod_emo_products .products .continue {
      grid-row: 3/4;
      grid-column: 2/3;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(5, 1fr);
      align-content: end;
      justify-content: center; }
      .mod_emo_products .products .continue a {
        grid-column: 3/4;
        grid-row: 4/5;
        align-self: stretch;
        background-color: #9a292b;
        color: white;
        font-family: 'Open Sans Bold', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        display: inline-grid;
        align-content: center;
        justify-content: center; }
        .mod_emo_products .products .continue a:hover {
          background-color: #721e20;
          transition: all 0.5s ease-out; }
    .mod_emo_products .products .products_content {
      grid-column: 2/3;
      grid-row: 2/3;
      display: grid;
      grid-auto-flow: row;
      row-gap: 5rem; }
      .mod_emo_products .products .products_content .item {
        height: min-content;
        display: grid;
        height: 300px;
        grid-template-columns: 1fr 1fr; }
        .mod_emo_products .products .products_content .item .left {
          text-align: center; }
          .mod_emo_products .products .products_content .item .left h2 {
            margin: 0; }
          .mod_emo_products .products .products_content .item .left img {
            align-self: center;
            max-height: 256px;
            width: auto; }
        .mod_emo_products .products .products_content .item .right {
          display: grid;
          grid-template-rows: 2fr 5fr 1fr; }
          .mod_emo_products .products .products_content .item .right img {
            align-self: center;
            min-height: 32px;
            height: auto;
            max-height: 64px;
            width: auto; }
          .mod_emo_products .products .products_content .item .right .infos {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 0.25fr; }
            .mod_emo_products .products .products_content .item .right .infos ul {
              width: 100%;
              grid-row: 1/2;
              display: grid;
              grid-template-columns: repeat(50, 2%);
              grid-template-rows: 33% 33% 33%; }
              .mod_emo_products .products .products_content .item .right .infos ul li {
                align-content: center;
                justify-content: start;
                display: inline-grid; }
                .mod_emo_products .products .products_content .item .right .infos ul li p {
                  font-family: 'Open Sans', sans-serif;
                  font-weight: 700;
                  margin: 0 10px;
                  font-size: 14px;
                  color: #fff; }
                .mod_emo_products .products .products_content .item .right .infos ul li:nth-child(1) {
                  grid-row: 1/2;
                  grid-column: 1/49;
                  background-image: linear-gradient(to right bottom, #ad2b34, #99262e); }
                .mod_emo_products .products .products_content .item .right .infos ul li:nth-child(2) {
                  grid-row: 2/3;
                  grid-column: 2/50;
                  background-image: linear-gradient(to right bottom, #99262e, #852128); }
                .mod_emo_products .products .products_content .item .right .infos ul li:nth-child(3) {
                  grid-row: 3/4;
                  grid-column: 3/51;
                  background-image: linear-gradient(to right bottom, #852128, #701c22); }
          .mod_emo_products .products .products_content .item .right .link {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; }
            .mod_emo_products .products .products_content .item .right .link a {
              display: inline-grid;
              align-content: center;
              justify-content: center;
              grid-column: 3/4;
              align-self: stretch;
              background-color: #9a292b;
              color: white;
              font-family: 'Open Sans Bold', sans-serif;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 14px; }
              .mod_emo_products .products .products_content .item .right .link a:hover {
                background-color: #721e20;
                transition: all 0.5s ease-out; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .mod_emo_products .products {
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr 17fr 2fr 0.5fr; }
    .mod_emo_products .products .products_content .item {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      height: 600px; }
    .mod_emo_products .products .continue {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr); }
      .mod_emo_products .products .continue a {
        grid-column: 2/3; } }

@media screen and (max-width: 768px) {
  .mod_emo_products .products {
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 17fr 2fr 0.5fr; }
    .mod_emo_products .products .products_content .item {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      height: 600px; }
    .mod_emo_products .products .continue {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr); }
      .mod_emo_products .products .continue a {
        grid-column: 2/3; } }

@media screen and (max-width: 500px) {
  .mod_emo_products .intro {
    grid-template-columns: 0.5fr 8fr 0.5fr; }
    .mod_emo_products .intro h1 {
      font-size: 30px; }
    .mod_emo_products .intro p {
      font-size: 14px; }
  .mod_emo_products .products .products_content .item {
    height: 800px; }
  .mod_emo_products .products .products_content .left img {
    height: 192px; } }

.grid_1_mod {
  width: 100vw;
  display: grid;
  min-height: 400px;
  grid-template-columns: 1fr 8fr 1fr; }
  .grid_1_mod img {
    margin-bottom: 1rem; }
  .grid_1_mod .grid {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid; }

.grid_2_mod {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  box-sizing: border-box; }
  .grid_2_mod img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block; }
  .grid_2_mod .left {
    display: grid;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 18fr 1fr; }
    .grid_2_mod .left .left_content {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; }
      .grid_2_mod .left .left_content img {
        padding-right: 8rem; }
      .grid_2_mod .left .left_content p {
        font-size: 14px; }
  .grid_2_mod .right {
    display: grid;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 18fr 1fr; }
    .grid_2_mod .right .right_content {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; }
      .grid_2_mod .right .right_content p {
        font-size: 14px; }

.pfeil {
  background-image: url(../images/icons/right-arrow.svg);
  background-size: 1rem;
  background-position: right;
  background-repeat: no-repeat;
  display: block; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .grid_1_mod {
    grid-template-columns: 1fr 18fr 1fr; }
  .grid_2_mod {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(400px, auto); }
    .grid_2_mod .right,
    .grid_2_mod .left {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 1fr 8fr 1fr; }
  .pfeil {
    background-size: 2rem;
    background-position: bottom;
    background-image: url(../images/icons/down-arrow.svg); } }

@media screen and (max-width: 768px) {
  .grid_1_mod {
    grid-template-columns: 1fr 8fr 1fr; }
  .grid_2_mod {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(400px, auto); }
    .grid_2_mod .right,
    .grid_2_mod .left {
      grid-template-columns: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr; }
  .pfeil {
    background-size: 2rem;
    background-position: bottom;
    background-image: url(../images/icons/down-arrow.svg); } }

@media screen and (max-width: 500px) {
  .grid_1_mod {
    grid-template-columns: 1fr 8fr 1fr; }
  .grid_2_mod {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(300px, auto); }
    .grid_2_mod .right,
    .grid_2_mod .left {
      grid-template-columns: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr; }
  .pfeil {
    background-size: 2rem;
    background-position: bottom;
    background-image: url(../images/icons/down-arrow.svg); } }

.custom_newest_article .left {
  background-color: #01395e; }
  .custom_newest_article .left h2 {
    color: #94c1d8; }

.custom_newest_article .right {
  background-image: linear-gradient(to right, #01395e, #217294);
  grid-template-rows: 1fr 8fr 1fr; }
  .custom_newest_article .right .right_content {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    justify-content: space-between; }
    .custom_newest_article .right .right_content .pfeil_links,
    .custom_newest_article .right .right_content .pfeil_rechts {
      padding: 0.2rem;
      cursor: pointer;
      border: solid #fff 1px;
      border-radius: 2rem;
      margin: 0;
      float: left; }
    .custom_newest_article .right .right_content .pfeil_l {
      display: inline-grid;
      justify-self: start; }
    .custom_newest_article .right .right_content .pfeil_r {
      display: inline-grid;
      justify-self: end; }
    .custom_newest_article .right .right_content .mod_content.hide {
      transition: all 0.5s ease-out;
      transform: translate3d(-100%, 0, 0);
      transition: all 0.5s ease-out; }
    .custom_newest_article .right .right_content .article_content {
      display: grid;
      height: 400px;
      grid-template-areas: 'img' 'title' 'para' 'btn';
      grid-template-columns: 2fr 2fr 2fr; }
      .custom_newest_article .right .right_content .article_content .mod_img {
        grid-area: img;
        margin-bottom: 1rem;
        grid-column: 1/4; }
        .custom_newest_article .right .right_content .article_content .mod_img img {
          margin: 0;
          width: 350px; }
          @media screen and (max-width: 500px) {
            .custom_newest_article .right .right_content .article_content .mod_img img {
              width: 200px; } }
      .custom_newest_article .right .right_content .article_content .mod_title {
        grid-area: title;
        grid-column: 1/4;
        color: white;
        text-transform: uppercase;
        font-family: 'continuum_m' ,sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 1rem; }
      .custom_newest_article .right .right_content .article_content .mod_introtext {
        grid-area: para;
        grid-column: 1/4;
        margin-bottom: 12px;
        color: white; }
      .custom_newest_article .right .right_content .article_content .mod_link {
        grid-area: btn;
        grid-column: 3/4;
        padding: 0.5rem;
        align-self: end;
        color: white;
        background-color: #9a292b;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Open Sans Bold', sans-serif;
        font-weight: 600;
        font-size: 14px;
        border-radius: 2px;
        align-content: center; }
        .custom_newest_article .right .right_content .article_content .mod_link:hover {
          background-color: #721e20;
          transition: all 0.5s ease-out; }
      .custom_newest_article .right .right_content .article_content.show {
        transform: translate3d(0, 0, 0); }
    .custom_newest_article .right .right_content .hide.article_content {
      display: none; }
    .custom_newest_article .right .right_content .hide.pfeil_links, .custom_newest_article .right .right_content .hide.pfeil_rechts {
      visibility: hidden;
      cursor: none; }

.custom_wissensbereich .left {
  background-color: #93c1d9; }
  .custom_wissensbereich .left h2 {
    color: #227295; }

.custom_wissensbereich .right {
  background-color: #93c1d9;
  grid-template-rows: 1fr 8fr 1fr; }
  .custom_wissensbereich .right .right_content {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    justify-content: space-between; }
    .custom_wissensbereich .right .right_content .pfeil_links,
    .custom_wissensbereich .right .right_content .pfeil_rechts {
      padding: 0.2rem;
      cursor: pointer;
      border: solid #fff 1px;
      border-radius: 2rem;
      margin: 0; }
    .custom_wissensbereich .right .right_content .pfeil_links {
      display: inline-grid;
      justify-self: start; }
    .custom_wissensbereich .right .right_content .pfeil_rechts {
      display: inline-grid;
      justify-self: end; }
    .custom_wissensbereich .right .right_content .mod_content.hide {
      transition: all 0.5s ease-out;
      transform: translate3d(-100%, 0, 0);
      transition: all 0.5s ease-out; }
    .custom_wissensbereich .right .right_content .article_content {
      display: grid;
      height: 400px;
      grid-template-areas: 'img' 'title' 'para' 'btn';
      grid-template-columns: 2fr 2fr 2fr; }
      .custom_wissensbereich .right .right_content .article_content .mod_img {
        grid-area: img;
        margin-bottom: 1rem;
        grid-column: 1/4; }
        .custom_wissensbereich .right .right_content .article_content .mod_img img {
          margin: 0;
          width: 350px; }
          @media screen and (max-width: 500px) {
            .custom_wissensbereich .right .right_content .article_content .mod_img img {
              width: 200px; } }
      .custom_wissensbereich .right .right_content .article_content .mod_title {
        grid-area: title;
        grid-column: 1/4;
        color: white;
        text-transform: uppercase;
        font-family: 'continuum_m' ,sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 1rem; }
      .custom_wissensbereich .right .right_content .article_content .mod_introtext {
        grid-area: para;
        grid-column: 1/4;
        margin-bottom: 12px;
        color: white; }
      .custom_wissensbereich .right .right_content .article_content .mod_link {
        grid-area: btn;
        grid-column: 3/4;
        padding: 0.5rem;
        align-self: end;
        color: white;
        background-color: #9a292b;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Open Sans Bold', sans-serif;
        font-weight: 600;
        font-size: 14px;
        border-radius: 2px;
        align-content: center; }
        .custom_wissensbereich .right .right_content .article_content .mod_link:hover {
          background-color: #721e20;
          transition: all 0.5s ease-out; }
      .custom_wissensbereich .right .right_content .article_content.show {
        transform: translate3d(0, 0, 0); }
    .custom_wissensbereich .right .right_content .hide.article_content {
      display: none; }
    .custom_wissensbereich .right .right_content .hide.pfeil_links, .custom_wissensbereich .right .right_content .hide.pfeil_rechts {
      visibility: hidden;
      cursor: none; }

.custom_antrag p {
  color: white; }

.custom_antrag .left {
  background-color: #217294; }
  .custom_antrag .left h2 {
    color: #94c1d8; }

.custom_antrag .right {
  background-image: linear-gradient(to right, #217294, #93c1d9); }
  .custom_antrag .right .right_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: center; }
    .custom_antrag .right .right_content .icon_tag {
      color: white;
      display: inline-block;
      max-inline-size: 130px;
      display: grid;
      row-gap: 1rem; }
      .custom_antrag .right .right_content .icon_tag:hover {
        color: #cccccc;
        transition: all 0.5s ease-out; }
        .custom_antrag .right .right_content .icon_tag:hover img {
          filter: invert(20%);
          -webkit-filter: invert(20%);
          -moz-filter: invert(20%);
          transition: all 0.5s ease-out; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .custom_antrag .right .right_content {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center; }
    .custom_antrag .right .right_content .icon_tag {
      display: inline;
      max-inline-size: none; }
      .custom_antrag .right .right_content .icon_tag img {
        margin-right: 1rem;
        float: left; }
      .custom_antrag .right .right_content .icon_tag p {
        max-width: 200px;
        float: left; } }

@media screen and (max-width: 768px) {
  .custom_antrag .right {
    padding-left: 0; }
    .custom_antrag .right .right_content {
      padding-left: 0; } }

@media screen and (max-width: 500px) {
  .custom_antrag .left .left_content {
    padding-top: 0; }
  .custom_antrag .right {
    padding-top: 0; }
    .custom_antrag .right .right_content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      text-align: center; }
      .custom_antrag .right .right_content .icon_tag {
        display: inline;
        max-inline-size: none; }
        .custom_antrag .right .right_content .icon_tag img {
          margin-right: 1rem;
          float: left; }
        .custom_antrag .right .right_content .icon_tag p {
          max-width: 200px;
          float: left; } }

.custom_anbieter {
  width: 100vw;
  padding: 0; }
  .custom_anbieter p {
    color: white; }
  .custom_anbieter .left {
    background-image: url(../images/package-background.png);
    background-repeat: no-repeat;
    background-size: cover; }
  .custom_anbieter .right {
    background-color: #0e3b5e; }
    .custom_anbieter .right .right_content h2 {
      color: #94c1d8; }

.custom_weiteres {
  background-image: linear-gradient(to right bottom, #227295, #94c1d8); }
  .custom_weiteres .grid {
    align-content: center;
    justify-content: center; }
    .custom_weiteres .grid h1 {
      color: white; }
    .custom_weiteres .grid img {
      display: grid;
      margin: 0 auto; }

.custom_headline {
  background-image: linear-gradient(to right bottom, #091b22, #0e3b5e); }
  .custom_headline .grid {
    align-content: center;
    justify-content: center; }
    .custom_headline .grid h1 {
      color: white; }
    .custom_headline .grid p {
      color: white; }
    .custom_headline .grid img {
      display: grid;
      margin: 0 auto; }

.custom_dienstleistungen {
  background-image: url(../images/dienstleistungen-background.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .custom_dienstleistungen .grid {
    align-content: center;
    justify-content: center; }
    .custom_dienstleistungen .grid h1 {
      color: white; }
    .custom_dienstleistungen .grid p {
      color: white; }
    .custom_dienstleistungen .grid img {
      display: grid;
      margin: 0 auto; }

.custom_ladeinfrastruktur .left {
  background-image: url(../images/charge-background.png);
  background-repeat: no-repeat;
  background-size: cover; }

.custom_ladeinfrastruktur .right {
  background-color: #0e3b5e; }
  .custom_ladeinfrastruktur .right h2 {
    text-transform: uppercase;
    color: #94c1d8; }
  .custom_ladeinfrastruktur .right p {
    color: white; }

.custom_finanzierung .left {
  background-color: #94c1d8; }
  .custom_finanzierung .left h2 {
    text-transform: uppercase;
    color: #0e3b5e; }
  .custom_finanzierung .left p {
    color: #0e3b5e; }

.custom_finanzierung .right {
  background-image: url(../images/tyres-background.png);
  background-repeat: no-repeat;
  background-size: cover; }

.custom_beratung .left {
  background-image: url(../images/black-car.png);
  background-repeat: no-repeat;
  background-size: cover; }

.custom_beratung .right {
  background-color: #227295; }
  .custom_beratung .right h2 {
    text-transform: uppercase;
    color: #94c1d8; }
  .custom_beratung .right p {
    color: white; }

main {
  grid-area: gridmain;
  display: grid;
  min-height: 100vh;
  position: relative;
  width: 100vw;
}


main .item-page {
  margin-bottom: 4rem; }
main .item-page_homepage {
  height: calc(100vh - 100px); }
  main .item-page_homepage .logo {
    font-size: 42px;
    font-family: 'continuum_m'; }
    main .item-page_homepage .logo .red {
      color: #9a292b; }
  main .item-page_homepage p {
    color: white;
    font-size: 40px;
    font-family: 'continuum_m', sans-serif;
    text-transform: uppercase; }

.bg-img {
  width: 100vw;
  height: 100vh;
  z-index: -3;
  box-sizing: border-box;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover; }

.allwrap {
  display: grid;
  grid-template-areas: 'gridheader' 'gridmain' 'gridfooter';
  grid-template-rows: 100px auto auto; }

.allwrap header {
  background-color: transparent; }

.icons {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 14fr 6fr; }
  .icons a {
    color: white; }
  .icons div {
    grid-column-start: 2; }
    .icons div .dropdown-menu {
      display: grid;
      grid-auto-flow: column;
      column-gap: 8px;
      text-align: center;
      align-items: center; }
      .icons div .dropdown-menu li {
        font-size: 10px;
        font-weight: bold;
        border-radius: 4px;
        padding: 0.4rem 0.3rem;
        background: #9a292b;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Open Sans Bold', sans-serif; }

.content_rating {
  float: right;
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 5px;
  justify-items: center;
  align-items: center; }
  .content_rating .stars {
    font-size: 20px;
    color: gold; }
  .content_rating .rating_count {
    color: black;
    font-size: 20px; }

.rate_content {
  display: none; }

.element-invisible {
  display: none; }

.item-image.pull-none img {
  width: 100%;
  display: block; }

.right_image_info {
  color: black;
  float: right;
  font-size: 12px;
  margin-left: 12px;
  line-height: 16px;
  max-width: 34%;
  text-align: right;
  margin-top: 7px; }

.item-image .img_caption {
  color: black;
  max-width: 100%;
  padding-top: 6px;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0;
  font-weight: lighter; }

.item-image {
  margin-bottom: 12px;
  padding-bottom: 12px; }
